.dashBoardLeftSection {
    display: flex;
    flex-direction: column;
    margin-left: 448px;
    margin-top: 228px;
    width: 688px;
    z-index: 0;
    background-color: aqua;
}

.mode1dashboardtitle {
  display: flex;
  width: 100%;
  height: 48px;
  font-size: 48px;
  color: #9D4FE8;
  align-items: center;

}

.mode1dashboardtext {
  width: 100%;
  height: 90px;
  font-size: 24px;
  background-color: red;
}

.mode1dashboardContainer {
  width: 100%;
  height: 495px;
  background-color: aquamarine;
}

.mode1dashboardpagenation {
  width: 100%;
  height: 115px;
  background-color: dimgrey;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    z-index: 20;
    cursor: pointer;
  }

  ul.pagination li:first-child{
    border-radius: 5px 0 0 5px;
  }

  ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
  }
  
  ul.pagination li a {
    text-decoration: none;
    color: #DDC5F7;
    font-size: 1rem;
    z-index: 20;
  }
  
  ul.pagination li.active a {
    color: white;
  }

  ul.pagination li.active {
    background-color: #DDC5F7;
  }
  
  ul.pagination li a:hover,
  ul.pagination li a.active {
    color: #DDC5F7;
  }
  
  .page-selection {
    width: 48px;
    height: 30px;
    color: #DDC5F7;
  }