.dashBoardRightSection {
  display: flex;
  margin-left: 48px;
  width: 688px;
  flex-direction: column;
  z-index: 0;
}

.mode2dashboardtitle {
  display: flex;
  width: 100%;
  height: 48px;
  font-size: 48px;
  color: #0060C4;
  align-items: center;
}

.mode2dashboardContainer::-webkit-scrollbar {
  display: none;
}


.mode2dashboardtext {
  width: 100%;
  height: 120px;
  font-size: 24px;
  /* background-color: red; */
}

.mode2dashboardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 532px;
  overflow: auto;
}

.mode2dashboarddata {
  display: flex;
  width: 100%;
  height: 48px;
  border-radius: 0.5rem;
  font-size: 18px;
  color: #0060C4;
  font-weight: bold;
  background-color: #B9DCFD;
}

.mode2dashboardround {
  display: flex;
  align-items: center;
  width: 140px;
  height: 48px;
  padding-left: 20px;

}

.mode2dashboardtotalticket {
  display: flex;
  align-items: center;
  width: 164px;
  height: 100%;
  padding-left: 20px;

}

.mode2dashboardprize {
  display: flex;
  align-items: center;
  width: 204px;
  height: 100%;
  padding-left: 20px;
}

.mode2dashboardprize img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.mode2dashboardtotalwinningNumber {
  display: flex;
  align-items: center;
  width: 160px;
  height: 100%;
  padding-left: 20px;
}

.mode2dashboarddata2 {
  display: flex;
  margin-top: 15px;
  width: 100%;
  height: 48px;
  border-radius: 0.5rem;
  font-size: 18px;
  color: #3B3B3B;
  font-weight: bold;
  background-color: #EBF2FF;
}


/*
***************************
***************************
***************************
***************************
***************************
Desktop Responsive 
***************************
***************************
***************************
***************************
***************************
*/

@media only screen and (max-width: 1920px) and (min-width: 1660px) and (min-height: 800px) {
  .dashBoardRightSection {
    margin-left: 2.5vw;
    width: 35.833vw;
  }
  
  .mode2dashboardtitle {
    font-size: 2.5vw;
  }  
  
  .mode2dashboardtext {
    font-size: 1.25vw;
  }
    
  .mode2dashboarddata {
    font-size: 0.938vw;
  }
  
  .mode2dashboardround {
    width: 7.292vw;
    padding-left: 1.042vw;
  }
  
  .mode2dashboardtotalticket {
    width: 8.542vw;
    padding-left: 1.042vw;
  }
  
  .mode2dashboardprize {
    width: 10.625vw;
    padding-left: 1.042vw;
  }
  
  .mode2dashboardprize img {
    width: 1.25vw;
    margin-right: 0.521vw;
  }
  
  .mode2dashboardtotalwinningNumber {
    width: 8.333vw;
    padding-left: 1.042vw;
  }
  
  .mode2dashboarddata2 {
    font-size: 0.938vw;
  }
}

@media only screen and (max-width: 1660px) and (min-width: 1440px) and (min-height: 800px) {
  /*
  px-to-vw 1600
  */
  .dashBoardRightSection {
    margin-left: 2.25vw;
    width: 32.25vw;
  }
  
  .mode2dashboardtitle {
    font-size: 2.25vw;
  }  
  
  .mode2dashboardtext {
    font-size: 1.125vw;
  }
    
  .mode2dashboarddata {
    font-size: 0.844vw;
  }
  
  .mode2dashboardround {
    width: 6.563vw;
    padding-left: 0.938vw;
  }
  
  .mode2dashboardtotalticket {
    width: 7.688vw;
    padding-left: 0.938vw;
  }
  
  .mode2dashboardprize {
    width: 9.563vw;
    padding-left: 0.938vw;
  }
  
  .mode2dashboardprize img {
    width: 1.125vw;
    margin-right: 0.469vw;
  }
  
  .mode2dashboardtotalwinningNumber {
    width: 7.5vw;
    padding-left: 0.938vw;
  }
  
  .mode2dashboarddata2 {
    font-size: 0.844vw;
  }

}
@media only screen and (max-width: 1440px) and (min-width: 1280px) and (min-height: 800px) {
  .dashBoardRightSection {
    margin-left: 568px;
  }
  
}

@media only screen and (max-width: 1280px) and (min-height: 800px) {
  .dashBoardRightSection {
    margin-left: 448px;
}
}

/*
***************************
***************************
***************************
***************************
***************************
NoteBook Responsive 
***************************
***************************
***************************
***************************
***************************
*/
@media only screen and (max-width: 1640px) and (min-width: 1310px) and (max-height: 796px) {
  .dashBoardRightSection {
    margin-left: 2.5vw;
    width: 35.833vw;
  }
  
  .mode2dashboardtitle {
    height: 36px;
    font-size: 2.5vw;
  }  
  
  .mode2dashboardtext {
    height: 90px;
    font-size: 1.25vw;
  }
  
  .mode2dashboardContainer {
    height: 450px;
  }
  
  .mode2dashboarddata {
    height: 36px;
    border-radius: 0.375rem;
    font-size: 0.938vw;
  }
  
  .mode2dashboardround {
    width: 7.292vw;
    height: 36px;
    padding-left: 1.042vw;
  }
  
  .mode2dashboardtotalticket {
    width: 8.542vw;
    padding-left: 1.042vw;
  
  }
  
  .mode2dashboardprize {
    width: 10.625vw;
    padding-left: 1.042vw;
  }
  
  .mode2dashboardprize img {
    width: 1.25vw;
    height: 18px;
    margin-right: 0.521vw;
  }
  
  .mode2dashboardtotalwinningNumber {
    width: 8.333vw;
    padding-left: 1.042vw;
  }
  
  .mode2dashboarddata2 {
    margin-top: 11.25px;
    height: 36px;
    border-radius: 0.375rem;
    font-size: 0.938vw;
  }    
}

@media only screen and (max-width: 1310px) and (min-width: 960px) and (max-height: 796px) {
  .dashBoardRightSection {
    margin-left: 36px;
    width: 30.353vw;
  }
  
  .mode2dashboardtitle {
    height: 36px;
    font-size: 2.118vw;
  }  
  
  .mode2dashboardtext {
    height: 90px;
    font-size: 1.059vw;
  }
  
  .mode2dashboardContainer {
    height: 450px;
  }
  
  .mode2dashboarddata {
    height: 36px;
    border-radius: 0.375rem;
    font-size: 0.795vw;
  }
  
  .mode2dashboardround {
    width: 6.177vw;
    height: 36px;
    padding-left: 0.883vw;
  }
  
  .mode2dashboardtotalticket {
    width: 7.236vw;
    padding-left: 0.883vw;
  
  }
  
  .mode2dashboardprize {
    width: 9vw;
    padding-left: 0.883vw;
  }
  
  .mode2dashboardprize img {
    width: 1.059vw;
    height: 18px;
    margin-right: 0.441vw;
  }
  
  .mode2dashboardtotalwinningNumber {
    width: 7.059vw;
    padding-left: 0.883vw;
  }
  
  .mode2dashboarddata2 {
    margin-top: 11.25px;
    height: 36px;
    border-radius: 0.375rem;
    font-size: 0.795vw;
  }    

}

@media only screen and (max-width: 960px) and (max-height: 796px) {
  .dashBoardRightSection {
    margin-left: 336px;
    width: 516px;
  }
  
  .mode2dashboardtitle {
    height: 36px;
    font-size: 36px;
  }  
  
  .mode2dashboardtext {
    height: 90px;
    font-size: 18px;
  }
  
  .mode2dashboardContainer {
    height: 450px;
  }
  
  .mode2dashboarddata {
    height: 36px;
    border-radius: 0.375rem;
    font-size: 13.5px;
  }
  
  .mode2dashboardround {
    width: 105px;
    height: 36px;
    padding-left: 15px;
  }
  
  .mode2dashboardtotalticket {
    width: 123px;
    padding-left: 15px;
  }
  
  .mode2dashboardprize {
    width: 153px;
    padding-left: 15px;
  }
  
  .mode2dashboardprize img {
    width: 18px;
    height: 18px;
    margin-right: 7.5px;
  }
  
  .mode2dashboardtotalwinningNumber {
    width: 120px;
    padding-left: 15px;
  }
  
  .mode2dashboarddata2 {
    margin-top: 11.25px;
    height: 36px;
    border-radius: 0.375rem;
    font-size: 13.5px;
  }    
}
