.navbarContainer {
  display: flex;
  flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #EBF2FF; 
}
.leftNavSection {
  // display: flex;
  position: fixed;
  left: 0;
  height: 100vh;
  width: 400px;
  // border-right: 5px solid black;
}

.rightNavContainer {
  width: 1520px;
  background-color: white;
  height: 100vh;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem; 
}

.timerSaction {
  display: flex;
  left: 1520px;
  align-items: center;
  height: 228px;
}

.mode1Timer {
  width: 688px;
  height: 136px;
  border-radius: 1.5rem;
  margin-left: 48px;
  background-color: #F2E7FC; 
}

.titleContainer {
  display: flex;
  height: 95px;
}
.mode1timertitleSec {
  display: flex;
  width:344px;
  height:136px;
  padding-left: 48px;
  align-items: center;
  font-size: 32px;
  padding-top: 10px;
  // background-color: #0060C4;
}

.mode1timerSec {
  display: flex;
  justify-content: flex-end;
  padding-right: 48px;
  width: 344px;
  height: 136px;
  font-size: 32px;
  padding-top: 10px;
  align-items: center;
}


.mode2Timer {
  width: 688px;
  height: 136px;
  margin-left: 48px;
  border-radius: 1.5rem;
  background-color: #EBF2FF;
}

.mode2Timer h3 {
  padding-top : 30px;
  text-align: center;
  font-weight: 900;
}

.leftNavSection {
    display: flex;
    flex-direction: column;
}

.firstLeftNav {
    display: flex;
    height:144px;
}

.firstLeftNavimgSection {
  display: flex;
  width: 90px;
  height: 100%;
  padding: 24px 0px 24px 24px;
}

.firstLeftNavimgSection img {
  width: 77px;
  height: 96px;
}

.firstLeftNavtextSection {
  display: flex;
  width: 310px;
  height: 100%;
  padding-top: 36px;
  padding-left: 32px;
}

.firstLeftNavtextSection img {
  width: 186px;
  height: 72px;
}

p {
  font-weight: bold;
}

.istmainword {
  font-size: 27px;
  color: #4B89DC;
  text-decoration: none;
  font-weight: bold;
}

.lastmainword {
  font-size: 25px;
  color: #0060C4;
  text-decoration: none;
  font-weight: bold;
}

.secondLeftNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: yellow; 
    padding-left: 24px;
    height: 270px;
}
.secondLeftNavMyKlay {
  width: 100%;
  height: 90px;
  // background-color: bisque;
}

.secondLeftNavWallet {
  width: 100%;
  height: 90px;
  // background-color: aqua;
}

.secondLeftNavNetWork {
  width: 100%;
  height: 90px;
}

.secondLeftNavNetWork2 {
  display: flex;
}

.secondLeftNavNetWork3 {
  display: flex;
  align-items: center;
  width: 50%;
  // background-color: gold;
}

.secondLeftNavNetWork4 {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  align-items: center;
  width: 50%;
  // background-color: #3B3B3B;
}

.networkstatus {
  display: flex;
  width : 90px;
  height: 28px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  color:#ffffff;
  background-color: #28D182;
  border-radius: 3rem;
  margin-bottom: 10px;
}

.networkstatus2 {
  display: flex;
  width : 154px;
  height: 28px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  color:#ffffff;
  background-color: #FF9140;
  border-radius: 3rem;
  margin-bottom: 10px;
}

.leftnavsmalltitle {
  font-size: 18px;
  color: gray;
}

.leftnavsmalldata {
  font-size: 24px;
  color: #0060C4;
}

.secondLeftNavTxt1 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.klaybuyscanNav {
  display: flex;
  height: 60px;
  // background-color: blue;
}

.buyklayBtn {
  display: flex;
  width: 50%;
  height: 100%;
  // background-color: greenyellow;
  justify-content: center;
  align-items: center;
}

.buyklayBtn button {
  width: 158px;
  height: 48px;
  background-color: #0060C4;
  font-size: 18px;
  font-weight: bold;
}

.buyklayModal {
  width: 500px;
  height: 400px;
  // margin-top: 300px;
}

.ConnectModal {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 400px;
}

.metamaskSection {
  display:flex;
  flex-direction: column;
  border: 1px solid #f2f2f2;
  width: 250px;
  height: 400px;
  cursor: pointer;
  // background-color: #FF9140;
}

.metamaskimgSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  // background-color: #0060C4;
}

.metamaskimgSection img {
  width: 200px;
  height: 240px;
}

.metamasktextSection {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  width: 250px;
  height: 150px;
  // background-color: blanchedalmond;
}

.kaiaksSection {
  display:flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  // background-color: #28D182;
}

.kaikasimgSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  // background-color: #0060C4;
}

.kaikasimgSection img {
  width: 160px;
  height: 200px;
}

.kaikastextSection {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  width: 250px;
  height: 150px;
  // background-color: blanchedalmond;

}

.buyklayModalContainer {
  display: flex;
  width:100%;
  height: 100%;
  // background-color: aqua;
}

.buyKlayModalLeftContainer {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.swapscannerzone {
  width: 200px;
  height: 200px;
  box-shadow: 2px 2px 2px 2px #dadce0;
  cursor: pointer;
}

.swapscannerzone img {
  width: 200px;
  height: 200px;
}

.buyKlayModalRightContainer {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.klayswapzone {
  width: 200px;
  height: 200px;
  box-shadow: 2px 2px 2px 2px #dadce0;
  cursor: pointer;
}

.klayswapzone img {
  width: 200px;
  height: 200px;
}


.walletscanBtn {
  display: flex;
  width: 50%;
  height: 100%;
  // background-color: khaki;
  justify-content: center;
  align-items: center;
}

.walletscanBtn button {
  width: 158px;
  height: 48px;
  font-weight: bold;
  border: none;
  color: #0060C4;
  background-color: #ffffff;
}

.thirdLeftNav {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: brown; 
    height: 100px;
}

.thirdLeftNav button {
    border: none;
    width: 352px;
    height: 48px;
}


.forthLeftNav {
  height: 300px;
  // background-color: blue;
}
.contentsection {
  width:  100%;
  height: 60px;
  padding-left: 20px;
  // background-color: brown;
}

.rad-label {
  display: flex;
  align-items: center;
  padding: 14px 16px;

  cursor: pointer;
  transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: #e8faf5;
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
  position: relative;
}

.rad-design::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

.rad-input:checked+.rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: #3B3B3B;
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;

  transition: .3s;
}

.rad-input:checked~.rad-text {
  color: #0060C4;
}

.channelSection {
  height: 25px;
  padding-left: 24px;
  font-size: 18px;
  font-weight: bold;
  color: #0060C4;
}

.fotLeftNav {
    display: flex;
    height: 95px;
    // background-color: red;;
}

.twitterSection {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  padding-top: 10px;
  // background-color: gold;
}
.twitterSection button {
  width: 160px;
  height: 48px;
  border: none;
  background-color: #EBF2FF;
}
.twitterSection img {
  width: 160px;
  height: 48px;
  border-radius: 0.35rem;
}


.discordSection {
  display: flex;
  width: 50%;
  height: 100%;
  padding-top: 10px;
  // background-color: whitesmoke;
}

.discordSection button {
  width: 160px;
  height: 48px;
  border: none;
  background-color: #EBF2FF;
}

.discordSection img {
  width: 160px;
  height: 48px;
  border-radius: 0.35rem;
}








@media (max-width:800px) {
    
}
