.navbarContainer {
  display: flex;
  flex-direction: row-reverse;
    width: 1920px;
    height: 100%;
    position: fixed;
    background-color: #EBF2FF; 
}
.leftNavSection {
  position: fixed;
  left: 0;
  height: 100%;
  width: 400px;
}

.rightNavContainer {
  width: 1520px;
  background-color: white;
  height: 100%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem; 
}

.timerSaction {
  display: flex;
  align-items: center;
  width: 1520px;
  height: 228px;
}

.mode1Timer {
  width: 688px;
  height: 136px;
  border-radius: 1.5rem;
  margin-left: 48px;
  background-color: #F2E7FC; 
}

.LoadingSection1 {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  color: #9D4FE8;
  font-size: 40px;
  font-weight: bold;
}

.LoadingSection2 {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  color: #0060C4;
  font-size: 40px;
  font-weight: bold;
}


.titleContainer {
  display: flex;
  height: 95px;
}
.mode1timertitleSec {
  display: flex;
  width:344px;
  height:136px;
  padding-left: 48px;
  align-items: center;
  font-size: 32px;
  padding-top: 10px;
}

.mode1timerSec {
  display: flex;
  justify-content: flex-end;
  padding-right: 48px;
  width: 344px;
  height: 136px;
  font-size: 32px;
  padding-top: 10px;
  align-items: center;
}


.mode2Timer {
  width: 688px;
  height: 136px;
  margin-left: 48px;
  border-radius: 1.5rem;
  background-color: #EBF2FF;
}


.leftNavSection {
    display: flex;
    flex-direction: column;
}

.firstLeftNav {
    display: flex;
    height:144px;
}

.firstLeftNavimgSection {
  display: flex;
  width: 90px;
  height: 100%;
  padding: 24px 0px 24px 24px;
}

.firstLeftNavimgSection img {
  width: 77px;
  height: 96px;
}

.firstLeftNavtextSection {
  display: flex;
  width: 310px;
  height: 100%;
  padding-top: 36px;
  padding-left: 32px;
}

.firstLeftNavtextSection img {
  width: 186px;
  height: 72px;
}

p {
  font-weight: bold;
}

.istmainword {
  font-size: 27px;
  color: #4B89DC;
  text-decoration: none;
  font-weight: bold;
}

.lastmainword {
  font-size: 25px;
  color: #0060C4;
  text-decoration: none;
  font-weight: bold;
}

.secondLeftNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 24px;
    height: 270px;
}

.notConnectSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 376px;
  height: 270px;
  padding-right: 36px;
  padding-bottom: 24px;
  color:#FF9140;
}
.secondLeftNavMyKlay {
  width: 100%;
  height: 90px;
}

.secondLeftNavWallet {
  width: 100%;
  height: 90px;
}

.secondLeftNavNetWork {
  width: 100%;
  height: 90px;
}

.secondLeftNavNetWork2 {
  display: flex;
}

.secondLeftNavNetWork3 {
  display: flex;
  align-items: center;
  width: 50%;
}

.secondLeftNavNetWork4 {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  align-items: center;
  width: 50%;
}

.networkstatus {
  display: flex;
  width : 90px;
  height: 28px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  color:#ffffff;
  background-color: #28D182;
  border-radius: 3rem;
  margin-bottom: 10px;
}

.networkstatus2 {
  display: flex;
  width : 154px;
  height: 28px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  color:#ffffff;
  background-color: #FF9140;
  border-radius: 3rem;
  margin-bottom: 10px;
}

.leftnavsmalltitle {
  font-size: 18px;
  color: gray;
}

.leftnavsmalldata {
  font-size: 24px;
  color: #0060C4;
}

.secondLeftNavTxt1 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.klaybuyscanNav {
  display: flex;
  height: 60px;
}

.buyklayBtn {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.buyklayBtn button {
  width: 158px;
  height: 48px;
  background-color: #0060C4;
  font-size: 18px;
  font-weight: bold;
}

.buyklayBtn button:hover {
  background-color: #ffffff;
  color : #0060C4;
}

.buyklayModal {
  width: 480px;
  height: 232px;
}

.klayswapSection {
  display: flex;
  width: 480px;
  height: 116px;
  justify-content: center;
  align-items: center;
}

.klayswapButtonSection {
  display: flex;
  align-items: center;
  width: 432px;
  height: 80px;
  padding-top: 15px;
  border-radius: 0.7rem;
  color: #3B3B3B;
  font-size: 24px;
  cursor: pointer;
}

.klayswapButtonSection img {
  width: 70px;
  height: 80px;
  margin-right: 6px;
}

.klayswapButtonSection:hover {
  border: 4px solid #EBF2FF;
}

.walletscanBtn {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.walletscanBtn button {
  width: 158px;
  height: 48px;
  font-weight: bold;
  border: none;
  color: #0060C4;
  background-color: #ffffff;
}

.thirdLeftNav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.thirdLeftNav button {
    border: none;
    font-size: 18px;
    font-weight: bold;
    width: 352px;
    height: 48px;
}

.ConnectModal {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 232px;
}

.kaikasSection {
  display: flex;
  width: 480px;
  height: 116px;
  justify-content: center;
  align-items: center;
}

.kaikasButtonSection {
  display: flex;
  align-items: center;
  width: 432px;
  height: 80px;
  padding-left: 20px;
  padding-top: 15px;
  border-radius: 0.7rem;
  color: #3B3B3B;
  font-size: 24px;
  cursor: pointer;
}

.kaikasButtonSection:hover {
  border: 4px solid #EBF2FF;
}

.kaikasButtonSection img {
  margin-right: 20px;
  margin-bottom: 10px;
  width: 36px;
  height: 36px;
}

.metamaskSection {
  display: flex;
  width: 480px;
  height: 116px;
  justify-content: center;
  align-items: center;
}

.metamaskButtonSection {
  display: flex;
  align-items: center;
  width: 432px;
  height: 80px;
  padding-left: 12px;
  padding-top: 15px;
  border-radius: 0.7rem;
  color: #3B3B3B;
  font-size: 24px;
  cursor: pointer;
}

.metamaskButtonSection:hover {
  border: 4px solid #EBF2FF;
}

.metamaskButtonSection img {
  margin-right: 15px;
  margin-bottom: 10px;
  width: 48px;
  height: 48px;
}


.forthLeftNav {
  height: 300px;
}
.contentsection {
  width:  100%;
  height: 60px;
  padding-left: 20px;
}

.rad-label {
  display: flex;
  align-items: center;
  padding: 14px 16px;

  cursor: pointer;
  transition: .3s;
}

.rad-label:hover,
.rad-label:focus-within {
  background: #B9DCFD;
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
  position: relative;
}

.rad-design::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

.rad-input:checked+.rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: #3B3B3B;
  margin-left: 14px;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: bold;

  transition: .3s;
}

.rad-input:checked~.rad-text {
  color: #0060C4;
  font-weight: bold;
}

.channelSection {
  height: 25px;
  padding-left: 24px;
  font-size: 18px;
  font-weight: bold;
  color: #0060C4;
}

.fotLeftNav {
    display: flex;
    height: 95px;
}

.twitterSection {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  padding-top: 10px;
}
.twitterSection button {
  width: 160px;
  height: 48px;
  border: none;
  background-color: #EBF2FF;
}
.twitterSection img {
  width: 160px;
  height: 48px;
  border-radius: 0.35rem;
}


.discordSection {
  display: flex;
  width: 50%;
  height: 100%;
  padding-top: 10px;
}

.discordSection button {
  width: 160px;
  height: 48px;
  border: none;
  background-color: #EBF2FF;
}

.discordSection img {
  width: 160px;
  height: 48px;
  border-radius: 0.35rem;
}