.navbarContainer {
    width: 100%;
    // height: 100vh;
    position: fixed;
    z-index: 20;
    // background-color: aquamarine;
}

.topNav{
    width: 600px;
    display:flex;
    justify-content: flex-end;
    justify-content:center;
    height:300px;
    padding:0px;
    margin:0px;
    float: right;
    overflow:hidden;
    // font-family:'Nanum Gothic', sans-serif;
    perspective:699.997px;
    // background:#333;
    *{
      box-sizing:border-box;
      transform-style:preserve-3d;
    }
    @media (min-width:666px){
    nav{
      width:100%;
      position:absolute;
      background:#222;
      margin:0px;
      max-width:100%;
      z-index:2;
      ol{
        width:100%;
        display:flex;
        justify-content:space-around;
        padding:0px;
        margin:0px;
        transition:all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        li{
        //   float: left;
          cursor: pointer;
          border-right: 2px solid white;
          display:inline-block;
          padding:30px;
          flex-grow:1;
          text-align:center;
          position:relative;
          transition:all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
          &:nth-of-type(4){
                ol{
                  &:after{
                    content:"\f06d";
                    // font-family:FontAwesome;
                  }
                }
              }
          &:hover{
            ol{
              
            &:before{
                    content:'';
                    position:absolute;
                    width:20.002px;
                    height:20.002px;
                    display:block;
                    bottom:-30px;
                    left:-15px;
                    transform:rotate(45deg) scale(0.5);
                    border:3px solid orange;
                    border-color:orange transparent transparent orange;
                    background:linear-gradient(45deg, transparent -50%, transparent 45%, orange 45%, orange 55%, transparent 55%, transparent 125%);
                    background-repeat:no-repeat;
                    
                    animation:clipin 0.4s ease-in 1 forwards;
                    animation-delay:0.2s;
                    -webkit-clip-path: polygon(35% 35%, 35% 0, 35% 0, 35% 35%, 0 35%, 0 35%);
                    clip-path: polygon(35% 35%, 35% 0, 35% 0, 35% 35%, 0 35%, 0 35%);
            }
            }
            li{
              position:relative;
              &:first-of-type{
                &:before{
                  display:none;
                }
              }
                  &:before{
                    content:'';
                    position:absolute;
                    width:20.002px;
                    height:20.002px;
                    display:block;
                    right:-30px;
                    top:-15px;
                    left:auto;
                    transform:rotate(-45deg) scale(0.5);
                    border:3px solid red;
                    border-color:red transparent transparent red;
                    background:linear-gradient(45deg, transparent -50%, transparent 45%, red 45%, red 55%, transparent 55%, transparent 125%);
                    background-repeat:no-repeat;
                    
                    animation:clipin 0.4s ease-in 1 forwards;
                    -webkit-clip-path: polygon(35% 35%, 35% 0, 35% 0, 35% 35%, 0 35%, 0 35%);
  clip-path: polygon(35% 35%, 35% 0, 35% 0, 35% 35%, 0 35%, 0 35%);
                    @keyframes clipin{
                      0%{
                        -webkit-clip-path: polygon(35% 35%, 35% 0, 35% 0, 35% 35%, 0 35%, 0 35%);
  clip-path: polygon(35% 35%, 35% 0, 35% 0, 35% 35%, 0 35%, 0 35%);
                      }
                      50%{
                        -webkit-clip-path: polygon(35% 35%, 35% 0, 35% 0, 35% 35%, 0 35%, 0 35%);
  clip-path: polygon(35% 35%, 35% 0, 35% 0, 35% 35%, 0 35%, 0 35%);
                      }
                      75%{
                        -webkit-clip-path: polygon(35% 35%, 35% 0, 100% 0, 100% 100%, 0 100%, 0 35%);
  clip-path: polygon(35% 35%, 35% 0, 100% 0, 100% 100%, 0 100%, 0 35%);
                      }
                      100%{
                        -webkit-clip-path: polygon(100% 100%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  clip-path: polygon(100% 100%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
                      }
                    }
                  }
            }
          }
          ol{
            &:after{
            //   content:"\f25b";
              // font-family:FontAwesome;
              vertical-align:center;
            //   font-size:150px;
            //   color:#ff8000;
              position:absolute;
              padding-top:39.998px;
              height:calc(100% - 39.998px);
              width:100%;
              left:-100%;
              top:0;
            //   background:orange;
              transform:rotate(-90deg);
              transform-origin:0% 0%;
              transition:all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
          }
          @for $i from 1 through 10{
            &:nth-of-type(#{$i}){
              &:hover{
                a{
                  color:#222;
                }
                ol{
                  li{
                    cursor: pointer;
                    a{
                      color:#fff;
                      display:block;
                    }
                  }
                }
                &:before{
                  transform:translateY(0) rotate(0deg);
                }
              }
              &:before{
                content:'';
                position:absolute;
                width:100%;
                height:100%;
                background:adjust-hue(red, ($i * 10));
                top:0;
                left:0;
                z-index:-1;
                transition:all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                transform:translateY(-125%) rotate(-5deg);
              }
            }
          }
          &:hover{
            ol{
              transform:translateY(0) translateZ(-0.998px);
              &:after{
                transform:rotate(0deg);
              }
              li{
                &:nth-of-type(1n){
                  transform:none;
                  margin:0px;
                  &:hover{
                    &:after{
                      opacity:1;
                      top:0vh;
                    }
                  }
                }
              }
            }
          }
          a{
            color:#fff;
            text-decoration:none;
            text-transform:uppercase;
            letter-spacing:2.002px;
            font-weight:900;
          }
          ol{
            display:block;
            position:absolute;
            
            top:100%;
            transform:translateY(-110%) translateZ(-5.003px);
            transform-origin:top right;
            z-index:-1;
            width:100%;
            left:0;
            &:hover{
              li{
                &:nth-of-type(1n){
                  &:hover{
                    padding:39.998px 30px;
                  }
                }
              }
            }
            li{
              display:block;
              margin:20.002px 0;
              a{
                font-size:14.002px;
              }
              &:before{
                display:none;
              }
              @for $i from 1 through 10{
                &:nth-of-type(#{$i}){
                  transition-delay:#{$i/10}s;       background:adjust-hue(red, ($i * 10));
                  &:before{
                    animation-delay:#{$i/20}s;
                    background:linear-gradient(45deg, transparent -50%, transparent 45%, adjust-hue(red, ($i * 10)) 45%, adjust-hue(red, ($i * 10)) 55%, transparent 55%, transparent 125%);
                    background-repeat:no-repeat;
                    border-color:adjust-hue(red, ($i * 10)) transparent transparent adjust-hue(red, ($i * 10));
                  }
                  
                }
              }
              &:first-of-type{
                margin-top:0;
              }
              &:nth-of-type(even){
                transform-origin:top left;
                transform:rotate(5deg);
              }
              &:nth-of-type(odd){
                transform-origin:top right;
                transform:rotate(-5deg);
              }
            }
          }
        }
      }
    }
    }
    @media (max-width:666px){
      nav{
        position:absolute;
        top:0;
        height:45px;
        left:0;
        background:#222;
        width:100%;
        &:hover{
          ol{
            li{
              cursor: pointer;
              &:nth-of-type(1n){
                transform:rotate(0deg);
                margin:0px;
                transition:all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
              }
              @for $i from 1 through 10{
                &:nth-of-type(#{$i}){
                  transition-delay:#{$i/15}s;
                  &:hover{
                    a{
                      color:adjust-hue(red, ($i * 10));
                    }
                  }
                }
              }
            }
          }
          &:before{
            transform:rotate(45deg);
            box-shadow:0 0 0 0;
          }
          &:after{
            transform:rotate(-45deg);
          }
        }
        &:before, &:after{
          content:'';
          position:absolute;
          width:30px;
          height:3px;
          background:#fff;
          top:9.998px;
          left:calc(50% - 15px);
          border-radius:5.003px;
          box-shadow:0 9.998px 0 0 #fff;
          transition:transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 100ms ease-in-out;
          transition-delay:0.1s, 0s;
          transform-origin:0% 50%;
        }
        &:after{
          box-shadow:none;
          top:30px;
          transform-origin:0% 50%;
        }
        &:hover{
          ol{
            transform:translateY(0) translateZ(-0.998px);
            ol{
              transform:none;
            }
          }
        }
        ol{
          position:absolute;
          width:100%;
          top:0px;
          display:table;
          left:0;
          margin:0px;
          transform:translateY(calc(-100% - 45px)) translateZ(-0.998px);
          text-align:center;
          transition:all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
          background:#000;
          padding:60px 0 20.002px;
          height:auto;
          li{
            position:relative;
            display:inline-block;
            width:100%;
            clear:both;
            height:50.002px;
            padding:9.998px 0;
            margin:9.998px 0;
            transition:all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            background:#000;
            &:nth-of-type(even){
              transform:rotate(-5deg);
            }
            &:nth-of-type(odd){
              transform:rotate(5deg);
            }
            &:hover{
              ol{
                height:auto;
                transition:opacity 0.2s ease-in-out;
                opacity:1;
              }
            }
            a{
              color:#fff;
              text-decoration:none;
            }
          }
          ol{
            position:relative;
            transform:none;
            background:transparent;
            display:inline-block;
            width:100%;
            height:auto;
            top:auto;
            padding:0;
            height:0;
            overflow:hidden;
            opacity:0;
            transition:opacity 0.2s ease-in-out;
            li{
              font-size:12px;
              height:auto;
              &:first-of-type{
                padding-top:20.002px;
              }
            }
          }
        }
      }
    }
    
  }

.timerSaction {
  position: absolute;
  display: flex;
  width: 400px;
  height: 100px;
  // background-color: #FF4500;
  left: 350px;
  top: 20px;
}

.mode1Timer {
  width: 50%;
  height: 100%;
  border: solid 3px black;
  border-radius: 2rem;
  text-align: center;
  margin-right: 20px;
  // background-color: #FF4500;
}
.mode1Timer p {
  
  padding-top: 20px;
  font-size: 20px;
  line-height: 10px;
}

.mode2Timer {
  width: 50%;
  height: 100%;
  border: solid 3px black;
  border-radius: 2rem;
  text-align: center;
  margin-left: 20px;
  // background-color: darkblue;
}

.mode2Timer p {
  
  padding-top: 20px;
  font-size: 20px;
  line-height: 10px;
}


.leftNavSection {
    position: relative;
    // background-color: aqua; 
    position: fixed;
    left: 0;
    height: 100%;
    width: 300px;
    border-right: 5px solid black;
}

.leftNavSection {
    display: flex;
    flex-direction: column;
}

.firstLeftNav {
    display: flex;
    height: 100.003px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    /* background-color: green; */
}

p {
  font-weight: 900;
}

.firstLeftNav h1 {
  color: black;
  font-weight: bold;
}
.firstLeftNavBtn {
    width: 249.997px;
    height: 120px;
    background-size: auto;
}

.secondLeftNav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: yellow; */
    height: 100px;
}

.secondLeftNavTxt1 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.thirdLeftNav {
    display: flex;
    flex: 60%;
    flex-direction: column;
    align-items: center;
    // background-color: brown; 
    height: 450px;
}

.thirdLeftNav1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 20%;
}

.thirdLeftNav1 button {
    height: 129.998px;
    width: 249.997px;
    border: none;
    text-align: center;
    border-radius: 3rem;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
}

.thirdLeftNav1 span {
  position: relative; 
  z-index: 1;
}

.thirdLeftNav1 button::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 200%;
    width: 180%;
    background: #FF4500;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.thirdLeftNav1 button:hover::after {
  -webkit-transform: translateX(-20%) translateY(-25%) rotate(45deg);
  transform: translateX(-20%) translateY(-25%) rotate(45deg);
}



.fotLeftNav {
    display: flex;
    height: 50px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.fotLeftNav1 {
    display: flex;
    // padding-right: 39.998px;
    // background-color: blueviolet;
}
.fotLeftNav1 button {
    width: 80.002px;
   
    height: 30px;
}

.fotLeftNav2 {
    display: flex;
    padding-left: 40x;
    
    // background-color: brown;
}

.fotLeftNav2 button {
    width: 80.002px;
    height: 30px;
}

.fotLeftNav3 {
  display: flex;
  padding-left:0px;
}

.fotLeftNav3 button {
  width: 90px;
  height: 30px;
}

.homeimg {
  width:60px;
  height: 50px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.text-color {
  color:#fff;
}







@media (max-width:800px) {
    
}
