.mode2MyContents-detail {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 230px;
    background-color: white;
    border-radius: 22px;
    border: solid 2px black;
    box-shadow: 5px 5px 15px 5px #dadce0;
    margin-top: 150px;
    margin-left: 200px;
}

.closeSection {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: flex-end;
    /* background-color: blueviolet; */
}

.closeButton {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 1rem;
    border: solid 2px black;
    justify-content: center;
    align-items: center;
    z-index: 20;
    background-color: lightgray;
    cursor: pointer;
}

.ticketDetailSection {
    display: flex;
    width: 100%;
    height: 100px;
    /* background-color: aquamarine; */
    justify-content: center;
    align-items: center;
}

.img-Section {
    display: flex;
    width: 65px;
    height: 70px;
    /* background-color: crimson; */
}

.TicketNumberSection {
    position: absolute;
    width: 40px;
    height: 50px;
}
.TicketNumberSection p {
    font-size: 25px;
    font-weight: 900;
}

.ticketIdSection {
    display: flex;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: cadetblue; */
}