.mainPageRightSection {
    display: flex;
    margin-left: 100px;
    justify-content: flex-start ;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}

.mainPageRightSection1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    /* background-color: greenyellow; */
    width: 300px;
    height: 500px;
}

.mainPageRightSectionTitle {
    width: 100%;
    /* background-color: aqua; */
}

.mainPageRightSectionTitle p {
    font-size: 20px;
    text-align: center;
}

.mainPageRightSectionTitle hr {
    border: solid 2px black;
}

.mainPageRightSectionSilder {
    display: flex;
    position: relative;
    /* width: 100%; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightSectionLeftBtn {
    z-index: 20;
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -35%;
    top: 10%;
}

.rightSectionRightBtn {
    z-index: 20;
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: -30%;
    top: 10%;
}

.mainPageRightSectionSilder p {
    font-size: 20px;
}

.mainPageRightPrizedSection table {
    width: 150px;
    height: 120px;
    text-align: center;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.mainPageRightPrizedSection th, td {
    border: 1px solid black;
}

.tableInfo {
    height: 75px;
}

.rightBuyBtn {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.rightBuyBtn button {
    width: 150px;
    height: 50px;
    z-index: 20;
    font-weight: 900;
}