.mainPageLeftSection {
    display:flex;
    flex-direction: column;
    margin-left: 448px;
    margin-top: 228px;
    z-index: 0;
    width: 688px;
    /* background-color: aqua; */
}

.mode1maintitle {
    display: flex;
    width: 100%;
    height: 48px;
    font-size: 48px;
    color: #9D4FE8;
    align-items: center;
    /* background-color: gold; */
}

.mode1maintext {
    width: 100%;
    height: 90px;
    font-size: 24px;
    /* background-color: red; */
}

.mode1mainround {
    display: flex;
    width: 100%;
    height: 192px;
    /* background-color: yellow; */
}

.mode1mainbtn1 {
    display: flex;
    width: 48px;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.5rem;
}

.mode1mainbtn1 img {
    width: 36px;
    height: 24px;
}

.mode1mainbtn1:hover {
    background-color: #F2F2F2;
}

.mode1mainroundsection {
    display: flex;
    flex-direction: column;
    width: 592px;
    height: 100%;
    /* background-color: aqua; */
}

.mode1mainroundsection1 {
    width: 100%;
    height: 50%;
    text-align: center;
    padding-top: 30px;
    font-size: 48px;
    /* background-color: gold; */
}


.mode1mainroundsection2 {
    display: flex;
    width: 100%;
    height: 50%;
    font-size: 24px;
    justify-content: center;
    /* background-color: red; */
}

.mode1mainbtn2 {
    display: flex;
    width: 48px;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.5rem;
}

.mode1mainbtn2 img {
    width: 36px;
    height: 24px;
}

.mode1mainbtn2:hover {
    background-color: #F2F2F2;
}

.mode1remainSection {
    width: 100%;
    height: 53px;
}

.mode1mainprize {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 264px;
    border: solid 2px #F2F2F2;
    border-radius: 1rem;
    /* background-color: blue; */
}

.mode1mainprizetitle {
    display: flex;
    font-size: 24px;
    width: 100%;
    height: 87px;
    justify-content: center;
    align-items: center;
    /* background-color: gold; */
}

.mode1mainprizeklaytn {
    display: flex;
    width: 100%;
    height: 177px;
    font-size: 45px;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.mode1mainprizeklaytn img {
    width: 48px;
    height: 48px;
}

.mode1mainprizeklaytn p {
    margin-left: 10px;
}

.mode1mainprizeklaytn img {
    padding-bottom: 10px;
}

.mode1mainBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    /* background-color: green; */
}

.mode1mainBtn button {
    width: 100%;
    height: 64px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    background-color: #9D4FE8;
}

.mode1mainBtn button:hover {
    background-color: #ae77ed;
}



