.mode2BuyDetailContainer {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
}

.mode2BuyDetailBg {
    display: flex;
    cursor: pointer;
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0,0.52);
    z-index: 0;
}


.mode2BuyDetailSection1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 892px;
    z-index: 0;
    background-color: #ffffff;
}

.mode2BuyDetailSection2 {
    display: flex;
    width: 1004px;
    height: 180px;    
}

.mode2BuyDetailTitle {
    display: flex;
    width: 502px;
    height: 100%;
    font-size: 48px;
    align-items: center;
    justify-content: center;
}

.mode2BuyDetailButton {
    display: flex;
    width: 502px;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.mode2BuyDetailClose {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #959595;
    font-size: 18px;
    padding-top: 12px;
    border-radius: 8px;
    width: 108px;
    height: 48px;
   
}

.mode2BuyDetailBuy {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 108px;
    height: 48px;
    color: #ffffff;
    font-size: 18px;
    padding-top: 12px;
    border-radius: 8px;
    background-color: #0060C4;
}

.mode2BuyDetailSection3 {
    display: flex;
    flex-direction: column;
    width: 1004px;
    height: 616px;
    background-color: aqua;
}

