.mode1BuyPageContainer {
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    width: 100%;
    height: 100vh;
    padding-top: 120px;
}
.mode1BuyPageSection {
    display: flex;
    margin-left: 310px;
    margin-right: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}

.mod1BuyPageSection1 {
    display:flex;
    width: 500px;
    height: 600px;
    margin-left: 100px;
    /* background-color: white; */
}

.buymypageselect {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
}

.buybuttonSection {
    display: flex;
    width: 50%;
    height: 100%;
    /* background-color: red; */
    justify-content: flex-end;
    align-items: center;
}

.buybuttonSection button {
    z-index: 20;
    height: 70px;
    width: 200px;
    font-weight: 900;
}

.mypagebuttonSection {
    display: flex;
    width: 50%;
    height: 100%;
    /* background-color: black; */
    justify-content: flex-start;
    align-items: center;
}

.mypagebuttonSection button {
    z-index: 20;
    height: 70px;
    width: 200px;
    font-weight: 900;
}

.z-indexZone {
    z-index: 20;
}

.ticketPictureSection {
    display: flex;
    width: 100%;
    height: 130px;
    /* justify-content: center;
    align-items: center; */
    /* background-color: blueviolet; */
}

.ticketPictureSection h2 {
    margin-top: 40px;
    font-weight: 900;
    margin-left : 30px;
}

.mode1ticket {
    margin-top: 28px;
    margin-left : 80px;
    width: 70px;
    height: 70px;
}

.ownedTicketAmountSection {
    width:100%;
    height: 50px;
    /* background-color: red; */
    /* border-top: solid 1px black; */
}

.ownedTicketAmountSection h4 {
    padding-top: 10px;
    padding-left: 50px;
    font-weight: 900;
}

.ticketAmountSection {
    width:100%;
    height: 70px;
    padding-top: 10px;
    padding-left: 50px;
    z-index: 20;
    /* background-color: blue; */
}


input {
    width: 250px;
    height: 36px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.maxbuttonposition {
    margin-bottom: 4px;
    font-weight: 900;
}

.totalTicketPriceSection {
    width:100%;
    height: 50px;
    /* background-color: orange; */
    /* border-bottom: solid 1px black; */
    padding-left: 50px;
}
.totalTicketPriceSection h4 {
    font-weight: 900;
}

.buyTicketButtonSection {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.buyTicketButtonSection button {
    z-index: 20;
    width: 80%;
    height: 80px;
    font-weight: 900;
}