.mode2MyPageContainer {
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    width: 100%;
    height: 100vh;
    padding-top: 120px;
}

.mode2MyPageSection {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}

.mode2selectSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.z-indexZone {
    z-index: 20;
    text-decoration: none;
    color: black;
}

.mode2selectSection button {
    width: 200px;
    height: 70px;
}

/* --------------- MainSection --------------- */
.mode2MyPageMainSelectSection {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: brown; */
}

.mode2MyContents {
    display:flex;
    flex-direction: column;
    width: 450px;
    height: 550px;
    border-radius: 3rem;
    border: solid 2px black;
    box-shadow: 5px 5px 15px 5px #dadce0;
    background-color: white;
}

.mode2MyTitle {
    width: 100%;
    height: 80px;
    border-radius: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    /* background-color: brown; */
    z-index: 20;
}

.mode2MyTitle h3 {
    padding-top: 10px;
    font-weight: 900;
}


.mode2MyTitle button {
    border: none;
    z-index: 20;
    background-color: white;
}

.mode2MyTicketList {
    display: flex;
    flex-direction: column;
    width:100%;
    height: 150px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
}

.myTicketTitle {
    display: flex;
    width: 100%;
    height: 25px;
    padding-left: 15px;
    /* background-color: yellow; */
}

.ticketListSection {
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 20;
    cursor: pointer;
    /* background-color: chocolate; */
}

.img-wrap {
    display: inline-block;
    width: 20%;
    height: 62px;
    /* background-color: coral; */
}

.img-wrap button {
    /* width: auto; */
    /* background-color: none; */
    /* border : none; */
    /* z-index: 20; */
}

.img-wrap img {
    padding-left: 10px;
    padding-top: 10px;
    width: 90%;
    height: 90%;
    /* background-color: yellow; */
}

.img-text {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    /* padding: 5px 10px; */
    transform: translate( -120%, 5% );
    text-align: center;
    padding-top: 20px;
    /* background-color: green; */
}

.img-text p {
    line-height: 10%;
}
.text-interval {
    padding-left:8px;
}

.mode2TicketInfo {
    width: 100%;
    height: 80px;
    border-bottom: solid 1px black;
    /* background-color: yellow; */
}

.mode2Result {
    width: 100%;
    height: 80px;
    border-bottom: solid 1px black;
}

.mode2Claim {
    width: 100%;
    height: 160px;
    /* background-color: chocolate; */
    border-radius: 3rem;
}






