.mode1MyPageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.mypageTopLine {
    display: flex;
    width: 1472px;
    height: 228px;
    margin-left: 448px;
    z-index: 0;
}

.mode1myPageContainer {
    display: flex;
    flex-direction: column;
    margin-left: 448px;
    width: 1424px;
    height: 748px;
    z-index: 0;
}

.mode1mypageTitle {
    display: flex;
    width: 100%;
    height: 48px;
    font-size: 48px;
    color: #9d4fe8;
    align-items: center;  
}

.mode1mypageText {
    width: 100%;
    height: 120px;
    font-size: 24px;
  }

.mode1mypageSelectSection {
    display: flex;
    width: 100%;
    height: 48px;
}

.mode1mybuySection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 688px;
    height: 48px;
    font-size: 18px;
    color: #3b3b3b;
    cursor: pointer;
  }
  
  .mode1mymypageSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 688px;
    height: 48px;
    margin-left: 48px;
    font-size: 18px;
    color: #3b3b3b;
    cursor: pointer;
    border-bottom: 3px solid #9d4fe8;
  }

  .mode1mybuySection:hover {
    border-bottom: 3px solid #9d4fe8;
  }

  .mode1mypagepaddingSection {
    width: 100%;
    height: 48px;
  }
  .mode1mypageDataContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 402px;
  }

  .mode1mypageDataSection {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 402px;
    border-radius: 1.5rem;
    border: 1px solid #F2F2F2;
  }

  .mode1mypagetotalTicketTitle {
    display: flex;
    width: 100%;
    height: 44px;
    padding-left: 16px;
    padding-top: 21px;
    font-size : 18px;
    color: #959595;
  }

  .mode1mypagetotalTicketimage {
    display: flex;
    padding-left: 16px;
    width: 100%;
    height: 65px;
    font-size: 24px;
  }

  .mode1mypagetotalTicketimage img {
    margin-right: 8px;
    margin-top: 6px;
    width: 48px;
    height: 24px;
  }

  .mode1mypagetotalPrizeTitle {
    display: flex;
    width: 100%;
    height: 24px;
    padding-left: 16px;
    font-size : 18px;
    color: #959595;
  }

  .mode1mypagetotalPrizeimage {
    display: flex;
    width: 100%;
    height: 60px;
    font-size: 24px;
  }

  .mode1mypagetotalPrizeimage img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-left: 16px;
    margin-top: 6px;
  }

  .mode1mypageWinningrate {
    width: 100%;
    height: 24px;
    padding-left: 16px;
    font-size: 18px;
    color:#959595;
  }

  .mode1mypageWinningrateimage {
    display: flex;
    width: 100%;
    height: 92px;
    font-size: 24px;
  }

  .mode1mypageWinningrateimage img {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    margin-right: 8px;
    margin-top: 6px;
    filter: invert(39%) sepia(55%) saturate(6048%) hue-rotate(254deg) brightness(100%) contrast(83%);
  }

  .mode1mypageResultTitle {
    width: 100%;
    height: 24px;
    padding-left: 16px;
    font-size: 18px;
    color:#959595;
  }

  .mode1mypageResultImage {
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 24px;
  }

  .mode1mypageResultImage img {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    margin-right: 8px;
    margin-top: 6px;
  }

  .mode1mycolPaddingSection {
    width: 48px;
    height: 402px;
  }

  .mode1myRoundTicketSection {
    display: flex;
    flex-direction: column;
    width: 1136px;
    height: 402px;
  }

  .mode1myRoundSection {
    display: flex;
    width: 100%;
    height: 160px;
  }

  .mode1mypagebtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 100%;
    cursor: pointer;
    border-radius: 0.25rem;
  }

  .mode1mypagebtn img {
    width: 36px;
    height: 24px;
  }

  .mode1mypagebtn:hover {
    background-color: #F2F2F2;
  }

  .mode1mypageRoundBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    width: 664px;
    height: 100%;
    border-right: 1px solid #F2F2F2;
  }

  .mode1mypagewinningBox {
    display: flex;
    flex-direction: column;
    width: 664px;
    height: 100%;
  }

  .mode1mypageWinningTicketTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    font-size: 24px;
    color: #9d4fe8;
  }

  .mode1mypageWinningTicketTitle img {
    width: 24px;
    height: 24px;
    margin-top: 4px;
    margin-right: 8px;
    filter: invert(39%) sepia(55%) saturate(6048%) hue-rotate(254deg) brightness(100%) contrast(83%);

  }

  .mode1mypageWinningTicketimage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
  }

  .mode1mypageWinningTicketimage img {
    width: 168px;
    height: 88px;
  }

  .mode1mypageWinningTicketData {
    font-size: 32px;
    color: #FFFFFF;
    position: absolute;
    font-weight: bold;
    margin-top: 16px;
  }
  

  .mode1mypagepaddingSection2 {
    display: flex;
    width: 100%;
    height: 48px;
  }

  .mode1mypageOwnedTicketSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 194px;
    border: 1px solid #F2F2F2;
    border-radius: 1.5rem;
  }
  
  .mode1mypageOwnedTicketSection img {
    width: 48px;
    height: 24px;
    margin-left: 8px;
    margin-right: 12px;
  }
  
  .mode1mypageOwnedTitleSection {
    display: flex;
    width: 100%;
    height: 56px;
    padding-left: 16px;
    padding-top: 20px;
    color: #959595;
    font-size: 18px;
  }
  
  .ownMyTicketText {
    display: flex;
    width: 60px;
    height: 35px;
    font-size: 24px;
    align-items: center;
    color:#3b3b3b;
  }

  .mode1mypageOwnedTikcetImage {
    width: 100%;
    height: 138px;
    /* background-color: #9d4fe8; */
  }

  .mode1mypageOwnedTicketEASection {
    display: inline-block;
    width: 112px;
    height: 60px;
    /* background-color: #959595; */
  }

  .mode1mypageTicketWrap {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: #28D182; */
  }

  .mode1mypageTicketWrap img {
    width: 84px;
    height: 42px;
  }

  .mode1myTicketNumber {
    position: absolute;
    margin-top: 16px;
    margin-right: 4px;
    font-size: 16px;
    color: #FFFFFF;
  }

  .mode1mypageClaimSection {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
  }

  .mode1profalseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 100%;
    height: 52px;
    color: #FFFFFF;
    background-color: #D9D9D9;
    cursor: pointer;
    border-radius: 0.5rem;
  }

  .mode1SuccessClaimButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 100%;
    height: 52px;
    color: #FFFFFF;
    background-color: #28D182;
    cursor: pointer;
    border-radius: 0.5rem;
  }
  
    /*
  ***************************
  ***************************
  ***************************
  ***************************
  ***************************
  Desktop Responsive 
  ***************************
  ***************************
  ***************************
  ***************************
  ***************************
  */

  @media only screen and (max-width: 1920px) and (min-width: 1700px) and (min-height: 800px) {
  
  .mypageTopLine {
      width: 76.667vw;
  }
  
  .mode1myPageContainer {
      width: 74.167vw;
  }
  
  .mode1mypageTitle {
      font-size: 2.5vw;
  }
  
  .mode1mypageText {
      font-size: 1.25vw;
    }
  
  .mode1mypageSelectSection {
      height: 2.5vw;
  }
  
  .mode1mybuySection {
      width: 35.833vw;
      font-size: 0.938vw;
    }
    
    .mode1mymypageSection {
      width: 35.833vw;
      margin-left: 2.5vw;
      font-size: 0.938vw;
    }
      
    .mode1mypageDataSection {
      width: 12.5vw;
    }
  
    .mode1mypagetotalTicketTitle {
      padding-left: 0.833vw;
      font-size : 0.938vw;
    }
  
    .mode1mypagetotalTicketimage {
      padding-left: 0.833vw;
      font-size: 1.25vw;
    }
  
    .mode1mypagetotalTicketimage img {
      margin-right: 0.417vw;
      width: 2.5vw;
      height: 1.25vw;
    }
  
    .mode1mypagetotalPrizeTitle {
      padding-left: 0.833vw;
      font-size : 0.938vw;
    }
  
    .mode1mypagetotalPrizeimage {
      font-size: 1.25vw;
    }
  
    .mode1mypagetotalPrizeimage img {
      width: 1.25vw;
      height: 1.25vw;
      margin-right: 0.417vw;
      margin-left: 0.833vw;
    }
  
    .mode1mypageWinningrate {
      padding-left: 0.833vw;
      font-size: 0.938vw;
    }
  
    .mode1mypageWinningrateimage {
      font-size: 1.25vw;
    }
  
    .mode1mypageWinningrateimage img {
      width: 1.25vw;
      height: 1.25vw;
      margin-left: 0.833vw;
      margin-right: 0.417vw;
    }
  
    .mode1mypageResultTitle {
      padding-left: 0.833vw;
      font-size: 0.938vw;
    }
  
    .mode1mypageResultImage {
      font-size: 1.25vw;
    }
  
    .mode1mypageResultImage img {
      width: 1.25vw;
      height: 1.25vw;
      margin-left: 0.833vw;
      margin-right: 0.417vw;
    }
  
    .mode1mycolPaddingSection {
      width: 2.5vw;
    }
  
    .mode1myRoundTicketSection {
      width: 59.167vw;
    }
    
    .mode1mypagebtn {
      width: 2.5vw;
    }
  
    .mode1mypagebtn img {
      width: 1.875vw;
      height: 1.25vw;
    }
  
  
    .mode1mypageRoundBox {
      font-size: 2.5vw;
      width: 34.583vw;
    }
  
    .mode1mypagewinningBox {
      width: 34.583vw;
    }
  
    .mode1mypageWinningTicketTitle {
      font-size: 1.25vw;
    }
  
    .mode1mypageWinningTicketTitle img {
      width: 1.25vw;
      height: 1.25vw;
      margin-top: 0.208vw;
      margin-right: 0.417vw;  
    }
    
    .mode1mypageWinningTicketimage img {
      width: 8.75vw;
      height: 4.583vw;
    }
  
    .mode1mypageWinningTicketData {
      font-size: 1.667vw;
    }
        
    .mode1mypageOwnedTicketSection img {
      width: 2.5vw;
      height: 1.25vw;
      margin-left: 0.417vw;
      margin-right: 0.625vw;
    }
    
    .mode1mypageOwnedTitleSection {
      padding-left: 0.833vw;
      font-size: 0.938vw;
    }
    
    .ownMyTicketText {
      width: 3.125vw;
      font-size: 1.25vw;
    }
  
    .mode1mypageOwnedTicketEASection {
      width: 5.833vw;
    }
    
    .mode1mypageTicketWrap img {
      width: 4.375vw;
      height: 2.188vw;
    }
  
    .mode1myTicketNumber {
      margin-top: 0.833vw;
      margin-right: 0.208vw;
      font-size: 0.833vw;
    }
  
    .mode1profalseButton {
      font-size: 1.25vw;
    }
  
    .mode1SuccessClaimButton {
      font-size: 1.25vw;
    }
  
  }

  @media only screen and (max-width: 1700px) and (min-width: 1240px) and (min-height: 800px) {
    /*
    px-to-vw 1650
    */


    .mypageTopLine {
        width: 66.909vw;
    }
    
    .mode1myPageContainer {
        width: 64.727vw;
    }
    
    .mode1mypageTitle {
        font-size: 2.182vw;
    }
    
    .mode1mypageText {
        font-size: 1.091vw;
      }
    
    .mode1mypageSelectSection {
        height: 2.182vw;
    }
    
    .mode1mybuySection {
        width: 31.273vw;
        font-size: 0.818vw;
      }
      
      .mode1mymypageSection {
        width: 31.273vw;
        margin-left: 2.182vw;
        font-size: 0.818vw;
      }
        
      .mode1mypageDataSection {
        width: 10.909vw;
      }
    
      .mode1mypagetotalTicketTitle {
        padding-left: 0.727vw;
        font-size : 0.818vw;
      }
    
      .mode1mypagetotalTicketimage {
        padding-left: 0.727vw;
        font-size: 1.091vw;
      }
    
      .mode1mypagetotalTicketimage img {
        margin-right: 0.364vw;
        width: 2.182vw;
        height: 1.091vw;
      }
    
      .mode1mypagetotalPrizeTitle {
        padding-left: 0.727vw;
        font-size : 0.818vw;
      }
    
      .mode1mypagetotalPrizeimage {
        font-size: 1.091vw;
      }
    
      .mode1mypagetotalPrizeimage img {
        width: 1.091vw;
        height: 1.091vw;
        margin-right: 0.364vw;
        margin-left: 0.727vw;
      }
    
      .mode1mypageWinningrate {
        padding-left: 0.727vw;
        font-size: 0.818vw;
      }
    
      .mode1mypageWinningrateimage {
        font-size: 1.091vw;
      }
    
      .mode1mypageWinningrateimage img {
        width: 1.091vw;
        height: 1.091vw;
        margin-left: 0.727vw;
        margin-right: 0.364vw;
      }
    
      .mode1mypageResultTitle {
        padding-left: 0.727vw;
        font-size: 0.818vw;
      }
    
      .mode1mypageResultImage {
        font-size: 1.091vw;
      }
    
      .mode1mypageResultImage img {
        width: 1.091vw;
        height: 1.091vw;
        margin-left: 0.727vw;
        margin-right: 0.364vw;
      }
    
      .mode1mycolPaddingSection {
        width: 2.182vw;
      }
    
      .mode1myRoundTicketSection {
        width: 51.636vw;
      }
      
      .mode1mypagebtn {
        width: 2.182vw;
      }
    
      .mode1mypagebtn img {
        width: 1.636vw;
        height: 1.091vw;
      }
    
    
      .mode1mypageRoundBox {
        font-size: 2.182vw;
        width: 30.182vw;
      }
    
      .mode1mypagewinningBox {
        width: 30.182vw;
      }
    
      .mode1mypageWinningTicketTitle {
        font-size: 1.091vw;
      }
    
      .mode1mypageWinningTicketTitle img {
        width: 1.091vw;
        height: 1.091vw;
        margin-top: 0.182vw;
        margin-right: 0.364vw;  
      }
      
      .mode1mypageWinningTicketimage img {
        width: 7.576vw;
        height: 4vw;
      }
    
      .mode1mypageWinningTicketData {
        font-size: 1.455vw;
      }
          
      .mode1mypageOwnedTicketSection img {
        width: 2.182vw;
        height: 1.091vw;
        margin-left: 0.364vw;
        margin-right: 0.545vw;
      }
      
      .mode1mypageOwnedTitleSection {
        padding-left: 0.727vw;
        font-size: 0.818vw;
      }
      
      .ownMyTicketText {
        width: 2.727vw;
        font-size: 1.091vw;
      }
    
      .mode1mypageOwnedTicketEASection {
        width: 5.091vw;
      }
      
      .mode1mypageTicketWrap img {
        width: 3.818vw;
        height: 2.364vw;
      }
    
      .mode1myTicketNumber {
        margin-top: 0.727vw;
        margin-right: 0.182vw;
        font-size: 0.727vw;
      }
    
      .mode1profalseButton {
        font-size: 1.091vw;
      }
    
      .mode1SuccessClaimButton {
        font-size: 1.091vw;
      }
    
    }
  
  @media only screen and (max-width: 1240px) and (min-height: 800px) {
  
  .mypageTopLine {
    flex-direction: column;
    margin-top: 48px;
  }
  
  .mode1myPageContainer {
      height: 100%;
      overflow-x: hidden;
  }
  
  .mode1mypageTitle {
    margin-top: 150px;
  }
    
  .mode1mypageSelectSection {
      height: 96px;
      flex-direction: column;
  }
    
  .mode1mymypageSection {
    margin-top: 10px;
    margin-left: 0px;
  }
  
    .mode1mypageDataContainer {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 402px;
    }
  
    .mode1mypageDataSection {
      width: 200px;
    }
  
  
    .mode1mycolPaddingSection {
      width: 24px;
    }
    
    .mode1myRoundSection {
      width: 520px;
    }
  
    .mode1mypagebtn {
      width: 36px;
    }
  
    .mode1mypagebtn img {
      width: 27px;
      height: 18px;
    }
    
    .mode1mypageRoundBox {
      padding-top: 15px;
      font-size: 24px;
      width: 239px;
    }
  
    .mode1mypagewinningBox {
      width: 239px;
    }
  
    .mode1mypageWinningTicketTitle {
      font-size: 16px;
      color: #9d4fe8;
    }
  
    .mode1mypageWinningTicketTitle img {
      width: 16px;
      height: 16px;
      margin-top: 4px;
      margin-right: 8px;
    }
  
    .mode1mypageWinningTicketimage img {
      width: 125px;
      height: 58px;
    }
  
    .mode1mypageWinningTicketData {
      font-size: 24px;
      margin-top: 12px;
    }
    
  
    .mode1mypagepaddingSection2 {
      height: 0px;
    }
  
    .mode1mypageOwnedTicketSection {
      width: 530px;
      height: 270px;
    }
    
    .mode1mypageOwnedTicketSection img {
      width: 36px;
      height: 24px;
      margin-left: 6px;
      margin-right: 9px;
    }
    
    .mode1mypageOwnedTitleSection {
      height: 40px;
      padding-top: 0px;
    }
    
    .ownMyTicketText {
      font-size: 20px;
    }
  
    .mode1mypageOwnedTikcetImage {
      width: 100%;
      height: 220px;
    }
  
    .mode1mypageOwnedTicketEASection {
      width: 130px;
      height: 30px;
    }
    
    .mode1mypageTicketWrap img {
      width: 116px;
      height: 42px;
    }
  
    .mode1mypageClaimSection {
      width: 720px;
      height: 80px;
    }
    }

  /*
  ***************************
  ***************************
  ***************************
  ***************************
  ***************************
  NoteBook Responsive 
  ***************************
  ***************************
  ***************************
  ***************************
  ***************************
  */

  @media only screen and (max-width: 1440px) and (min-width: 1280px) and (max-height: 796px) {
  
  .mypageTopLine {
      width: 1104px;
      height: 171px;
      margin-left: 336px;
  }
  
  .mode1myPageContainer {
      margin-left: 336px;
      width: 1068px;
      height: 600px;
  }
  
  .mode1mypageTitle {
      height: 27px;
      font-size: 27px;
  }
  
  .mode1mypageText {
      height: 67.5px;
      font-size: 13.5px;
    }
  
  .mode1mypageSelectSection {
      height: 36px;
  }
  
  .mode1mybuySection {
      width: 516px;
      height: 36px;
      font-size: 13.5px;
    }
    
    .mode1mymypageSection {
      width: 516px;
      height: 36px;
      margin-left: 36px;
      font-size: 13.5px;
    }
    
    .mode1mypagepaddingSection {
      height: 36px;
    }
    .mode1mypageDataContainer {
      height: 350px;
    }
  
    .mode1mypageDataSection {
      width: 180px;
      height: 350px;
    }
  
    .mode1mypagetotalTicketTitle {
      height: 33px;
      padding-left: 12px;
      padding-top: 15.75px;
      font-size : 13.5px;
    }
  
    .mode1mypagetotalTicketimage {
      padding-left: 12px;
      height: 48.75px;
      font-size: 18px;
    }
  
    .mode1mypagetotalTicketimage img {
      margin-right: 6px;
      margin-top: 4.5px;
      width: 36px;
      height: 18px;
    }
  
    .mode1mypagetotalPrizeTitle {
      height: 18px;
      padding-left: 12px;
      font-size : 13.5px;
    }
  
    .mode1mypagetotalPrizeimage {
      height: 45px;
      font-size: 18px;
    }
  
    .mode1mypagetotalPrizeimage img {
      width: 18px;
      height: 18px;
      margin-right: 6px;
      margin-left: 12px;
      margin-top: 4.5px;
    }
  
    .mode1mypageWinningrate {
      height: 18px;
      padding-left: 12px;
      font-size: 13.5px;
    }
  
    .mode1mypageWinningrateimage {
      height: 69px;
      font-size: 18px;
    }
  
    .mode1mypageWinningrateimage img {
      width: 18px;
      height: 18px;
      margin-left: 12px;
      margin-right: 6px;
      margin-top: 4.5px;
    }
  
    .mode1mypageResultTitle {
      height: 18px;
      padding-left: 12px;
      font-size: 13.5px;
    }
  
    .mode1mypageResultImage {
      height: 30px;
      font-size: 18px;
    }
  
    .mode1mypageResultImage img {
      width: 18px;
      height: 18px;
      margin-left: 12px;
      margin-right: 6px;
      margin-top: 4.5px;
    }
  
    .mode1mycolPaddingSection {
      width: 36px;
      height: 350px;
    }
  
    .mode1myRoundTicketSection {
      width: 852px;
      height: 350px;
    }
  
    .mode1myRoundSection {
      height: 145px;
    }
  
    .mode1mypagebtn {
      width: 36px;
    }
  
    .mode1mypagebtn img {
      width: 27px;
      height: 18px;
    }
    
    .mode1mypageRoundBox {
      font-size: 36px;
      width: 498px;
    }
  
    .mode1mypagewinningBox {
      width: 498px;
    }
  
    .mode1mypageWinningTicketTitle {
      font-size: 18px;
    }
  
    .mode1mypageWinningTicketTitle img {
      width: 18px;
      height: 18px;
      margin-top: 3px;
      margin-right: 6px;
    }
  
    .mode1mypageWinningTicketimage img {
      width: 126px;
      height: 66px;
    }
  
    .mode1mypageWinningTicketData {
      font-size: 24px;
      margin-top: 12px;
    }
    
  
    .mode1mypagepaddingSection2 {
      height: 36px;
    }
  
    .mode1mypageOwnedTicketSection {
      height: 170px;
    }
    
    .mode1mypageOwnedTicketSection img {
      width: 36px;
      height: 18px;
      margin-left: 6px;
      margin-right: 9px;
    }
    
    .mode1mypageOwnedTitleSection {
      height: 42px;
      padding-left: 12px;
      padding-top: 15px;
      font-size: 13.5px;
    }
    
    .ownMyTicketText {
      width: 45px;
      height: 26.25px;
      font-size: 18px;
    }
  
    .mode1mypageOwnedTikcetImage {
      height: 103.5px;
    }
  
    .mode1mypageOwnedTicketEASection {
      width: 84px;
      height: 45px;
    }
  
    .mode1mypageTicketWrap img {
      width: 63px;
      height: 31.5px;
    }
  
    .mode1myTicketNumber {
      margin-top: 12px;
      margin-right: 3px;
      font-size: 12px;
    }
  
    .mode1mypageClaimSection {
      height: 90px;
    }
  
    .mode1profalseButton {
      font-size: 18px;
      height: 39px;
    }
  
    .mode1SuccessClaimButton {
      font-size: 18px;
      height: 39px;
    }
  
  }








