.mode2BuyPageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  
  .mode2BuyTopLine {
    display: flex;
    width: 1472px;
    height: 228px;
    z-index: 0;
    margin-left: 448px;
  }

  .mode2BuyPageSection {
    display: flex;
    flex-direction: column;
    margin-left: 448px;
    width: 1424px;
    height: 748px;
    z-index: 0;
    /* background-color: blue; */
  }

  .mode2buypagetitle {
    display: flex;
    width: 100%;
    height: 48px;
    font-size: 48px;
    color: #0060C4;
    align-items: center;
  }
  
  .mode2buypagetext {
    width: 100%;
    height: 120px;
    font-size: 24px;
  }

  .mode2SelectSection {
    display: flex;
    width: 100%;
    height: 48px;
    /* background-color: aqua; */
  }
  
  .mode2buySection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 688px;
    height: 48px;
    font-size: 18px;
    color: #3b3b3b;
    cursor: pointer;
    border-bottom: 3px solid #0060C4;
  }
  
  .mode2mypageSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 688px;
    height: 48px;
    margin-left: 48px;
    font-size: 18px;
    color: #3b3b3b;
    cursor: pointer;
    /* background-color: blue; */
  }
  
  .mode2mypageSection:hover {
    border-bottom: 3px solid #0060C4;
  }

  .mode2SelectTicketContainer {
    display: flex;
    width: 100%;
    height: 484px;
  }

  .firstmode2SelectTicketSection {
    display: flex;
    width: 246.4px;
    height: 100%;
    border-radius: 16px;
    cursor: pointer;
    border: 1px solid #f2f2f2;
  }
  
  .mode2SelectTicketSection {
    display: flex;
    width: 246.4px;
    height: 100%;
    margin-left: 48px;
    border-radius: 16px;
    cursor: pointer;
    border: 1px solid #f2f2f2;
  }
