.mode1BuyPageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
}

.mode1BuyTopLine {
  display: flex;
  width: 1472px;
  height: 228px;
  z-index: 0;
  margin-left: 448px;
}
.mode1BuyPageSection {
  display: flex;
  flex-direction: column;
  margin-left: 448px;
  width: 1424px;
  z-index: 0;
  /* background-color: blue; */
}

.mode1buypagetitle {
  display: flex;
  width: 100%;
  height: 48px;
  font-size: 48px;
  color: #9d4fe8;
  align-items: center;
}

.mode1buypagetext {
  width: 100%;
  height: 120px;
  font-size: 24px;
  /* background-color: red; */
}

.mode1SelectSection {
  display: flex;
  width: 100%;
  height: 48px;
  /* background-color: aqua; */
}

.mode1buySection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 688px;
  height: 48px;
  font-size: 18px;
  color: #3b3b3b;
  cursor: pointer;
  border-bottom: 3px solid #9d4fe8;
}

.mode1mypageSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 688px;
  height: 48px;
  margin-left: 48px;
  font-size: 18px;
  color: #3b3b3b;
  cursor: pointer;
  /* background-color: blue; */
}

.mode1mypageSection:hover {
  border-bottom: 3px solid #9d4fe8;
}

.mode1buyroundpaddingsection {
  width: 100%;
  height: 61px;
  /* background-color: gold; */
}

.mode1buyroundContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 59px;
  /* background-color: aqua; */
  font-size: 48px;
}

.mode1buyavailableSection {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 30px;
  /* background-color: aquamarine; */
}

.mode1available1 {
  font-size: 18px;
  color: #959595;
  font-weight: bold;
  padding-right: 19px;
  padding-bottom: 3px;
}

.mode1available2 {
  font-size: 24px;
  color: #3b3b3b;
  font-weight: bold;
}

.mode1userselectSection {
  display: flex;
  width: 100%;
  height: 48px;
  margin-top: 21px;
  /* background-color: antiquewhite; */
}

.mode1availInput {
  width: 1356px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 0.5rem;
  font-size: 18px;
  padding-left: 16px;
}

.mode1usermaxSection {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 68px;
  font-size: 18px;
  background-color: #9d4fe8;
  border-radius: 0.4rem;
  color: #ffffff;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mode1useramountpaddingsection {
  width: 100%;
  height: 100px;
  /* background-color: violet; */
}
.mode1priceamountsection {
  width: 100%;
  font-size: 18px;
  color: #959595;
}

.mode1klaytnamountsection {
  display: flex;
  width: 100%;
  font-size: 48px;
  font-weight: bold;
}

.mode1klaytnamountsection img {
  margin-right: 18px;
}

.mode1buysection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 96px;
}

.mode1buybutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  background-color: #9d4fe8;
  color: #ffffff;
  border-radius: 0.5rem;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #dadce0;
}

.mode1buybutton:hover {
  box-shadow: 2px 2px 2px 2px #f2e7fc;
}

/*
***************************
***************************
***************************
***************************
***************************
desktop Responsive 
***************************
***************************
***************************
***************************
***************************
*/

@media only screen and (max-width: 1920px) and (min-width: 1700px) and (min-height: 800px) {
  .mode1BuyTopLine {
    width: 76.667vw;
  }
  .mode1BuyPageSection {
    width: 74.167vw;
  }

  .mode1buypagetitle {
    font-size: 2.5vw;
  }

  .mode1buypagetext {
    font-size: 1.25vw;
  }

  .mode1buySection {
    width: 35.833vw;
    font-size: 0.938vw;
  }

  .mode1mypageSection {
    width: 35.833vw;
    margin-left: 2.5vw;
    font-size: 0.938vw;
  }

  .mode1buyroundContainer {
    font-size: 2.5vw;
  }

  .mode1available1 {
    font-size: 0.938vw;
    padding-right: 0.99vw;
  }

  .mode1available2 {
    font-size: 1.25vw;
  }

  .mode1userselectSection {
    width: 100%;
  }

  .mode1availInput {
    width: 70.625vw;
    font-size: 0.938vw;
    padding-left: 0.833vw;
  }

  .mode1usermaxSection {
    width: 3.542vw;
    font-size: 0.938vw;
  }

  .mode1priceamountsection {
    font-size: 0.938vw;
  }

  .mode1klaytnamountsection {
    font-size: 2.5vw;
  }

  .mode1klaytnamountsection img {
    margin-right: 0.938vw;
  }

  .mode1buybutton {
    font-size: 1.25vw;
    box-shadow: 0.104vw 0.104vw 0.104vw 0.104vw #dadce0;
  }

  .mode1buybutton:hover {
    box-shadow: 0.104vw 0.104vw 0.104vw 0.104vw #f2e7fc;
  }
}

@media only screen and (max-width: 1700px) and (min-width: 1240px) and (min-height: 800px) {
  /*
1550 
*/
  .mode1BuyTopLine {
    width: 66.909vw;
  }
  .mode1BuyPageSection {
    width: 66.909vw;
  }

  .mode1buySection {
    width: 31.273vw;
  }

  .mode1mypageSection {
    width: 31.273vw;
  }

  .mode1availInput {
    width: 61.636vw;
  }

  .mode1usermaxSection {
    width: 3.091vw;
  }
}

@media only screen and (max-width: 1240px) and (min-height: 800px) {
  .mode1BuyPageContainer {
    overflow: hidden;
  }

  .mode1BuyTopLine {
    flex-direction: column;
    margin-top: 48px;
  }

  .mode1buypagetitle {
    margin-top: 150px;
  }

  .mode1SelectSection {
    display: flex;
    flex-direction: column;
    height: 96px;
  }

  .mode1mypageSection {
    margin-top: 10px;
    margin-left: 0px;
  }
  .mode1availInput {
    width: 630px;
  }

  .mode1buysection {
    width: 700px;
  }
}
/*
***************************
***************************
***************************
***************************
***************************
NoteBook Responsive 
***************************
***************************
***************************
***************************
***************************
*/

@media only screen and (max-width: 1640px) and (min-width: 1280px) and (max-height: 796px) {

  .mode1BuyTopLine {
    width: 74.167vw;
    height: 171px;
    margin-left: 336px;
  }
  .mode1BuyPageSection {
    margin-left: 336px;
    width: 74.167vw;
  }

  .mode1buypagetitle {
    height: 36px;
    font-size: 2.5vw;
  }

  .mode1buypagetext {
    height: 90px;
    font-size: 1.25vw;
  }

  .mode1SelectSection {
    width: 100%;
    height: 36px;
  }

  .mode1buySection {
    width: 35.833vw;
    height: 36px;
    font-size: 0.938vw;
    border-bottom: 0.156vw solid #9d4fe8;
  }

  .mode1mypageSection {
    width: 35.833vw;
    height: 36px;
    margin-left: 2.5vw;
    font-size: 0.938vw;
  }

  .mode1mypageSection:hover {
    border-bottom: 0.156vw solid #9d4fe8;
  }

  .mode1buyroundpaddingsection {
    width: 100%;
    height: 45.75px;
  }

  .mode1buyroundContainer {
    height: 44.25px;
    font-size: 2.5vw;
  }

  .mode1buyavailableSection {
    height: 22.5px;
  }

  .mode1available1 {
    font-size: 0.938vw;
    padding-right: 0.99vw;
    padding-bottom: 2.25px;
  }

  .mode1available2 {
    font-size: 1.25vw;
  }

  .mode1userselectSection {
    display: flex;
    width: 100%;
    height: 36px;
    margin-top: 15.75px;
  }

  .mode1availInput {
    width: 70.625vw;
    border-radius: 0.375rem;
    font-size: 0.938vw;
    padding-left: 0.833vw;
  }

  .mode1usermaxSection {
    padding-top: 7.5px;
    width: 3.542vw;
    font-size: 0.938vw;
    border-radius: 0.3rem;
  }

  .mode1useramountpaddingsection {
    width: 100%;
    height: 100px;
  }
  .mode1priceamountsection {
    width: 100%;
    font-size: 0.938vw;
  }

  .mode1klaytnamountsection {
    width: 100%;
    font-size: 2.5vw;
  }

  .mode1klaytnamountsection img {
    margin-right: 0.938vw;
  }

  .mode1buysection {
    width: 100%;
    height: 72px;
  }

  .mode1buybutton {
    width: 100%;
    height: 36px;
    border-radius: 0.375rem;
    font-size: 1.25vw;
    box-shadow: 0.104vw 0.104vw 0.104vw 0.104vw #dadce0;
  }

  .mode1buybutton:hover {
    box-shadow: 0.104vw 0.104vw 0.104vw 0.104vw #dadce0;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 960px) and (max-height: 796px) {
  /*
vw to px 1200
*/

  .mode1BuyTopLine {
    width: 66.75vw;
    height: 171px;
    margin-left: 336px;
  }
  .mode1BuyPageSection {
    margin-left: 336px;
    width: 66.75vw;
  }

  .mode1buypagetitle {
    height: 36px;
    font-size: 27px;
  }

  .mode1buypagetext {
    height: 90px;
    font-size: 13.5px;
    /* background-color: red; */
  }

  .mode1SelectSection {
    display: flex;
    width: 100%;
    height: 27px;
  }

  .mode1buySection {
    width: 32.25vw;
    height: 36px;
    font-size: 10.125px;
    border-bottom: 2.25px solid #9d4fe8;
  }

  .mode1mypageSection {
    width: 32.25vw;
    height: 36px;
    margin-left: 36px;
    font-size: 10.125px;
  }

  .mode1mypageSection:hover {
    border-bottom: 2.25px solid #9d4fe8;
  }

  .mode1buyroundpaddingsection {
    width: 100%;
    height: 45.75px;
  }

  .mode1buyroundContainer {
    width: 100%;
    height: 44.25px;
    font-size: 27px;
  }

  .mode1buyavailableSection {
    width: 100%;
    height: 22.5px;
  }

  .mode1available1 {
    font-size: 10.125px;
    padding-right: 10.6875px;
    padding-bottom: 2.25px;
  }

  .mode1available2 {
    font-size: 13.5px;
  }

  .mode1userselectSection {
    height: 36px;
    margin-top: 15.75px;
  }

  .mode1availInput {
    width: 63.563vw;
    border-radius: 0.375rem;
    font-size: 10.125px;
    padding-left: 9px;
  }

  .mode1usermaxSection {
    padding-top: 7.5px;
    width: 3.188vw;
    font-size: 10.125px;
    border-radius: 0.3rem;
  }

  .mode1useramountpaddingsection {
    width: 100%;
    height: 100px;
  }
  .mode1priceamountsection {
    width: 100%;
    font-size: 10.125px;
  }

  .mode1klaytnamountsection {
    width: 100%;
    font-size: 27px;
  }

  .mode1klaytnamountsection img {
    margin-right: 10.125px;
  }

  .mode1buysection {
    width: 100%;
    height: 72px;
  }

  .mode1buybutton {
    width: 100%;
    height: 36px;
    border-radius: 0.375rem;
    font-size: 13.5px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #dadce0;
  }

  .mode1buybutton:hover {
    box-shadow: 1.5px 1.5px 1.5px 1.5px #dadce0;
  }
}

@media only screen and (max-width: 960px) and (max-height: 796px) {
  .mode1BuyPageContainer {
    overflow-x: hidden;
  }

  .mode1BuyTopLine {
    display: flex;
    flex-direction: column;
    width: 1104px;
    height: 171px;
    margin-left: 336px;
  }
  .mode1BuyPageSection {
    display: flex;
    flex-direction: column;
    margin-left: 336px;
    width: 1068px;
  }

  .mode1buypagetitle {
    width: 100%;
    height: 36px;
    font-size: 36px;
    margin-top: 150px;
  }

  .mode1buypagetext {
    width: 100%;
    height: 90px;
    font-size: 18px;
  }

  .mode1SelectSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 36px;
  }

  .mode1buySection {
    width: 516px;
    height: 36px;
    font-size: 13.5px;
  }

  .mode1mypageSection {
    width: 516px;
    height: 36px;
    margin-left: 36px;
    font-size: 13.5px;
    margin-top: 7.5px;
    margin-left: 0px;
  }

  .mode1mypageSection:hover {
    border-bottom: 3px solid #9d4fe8;
  }

  .mode1buyroundpaddingsection {
    width: 100%;
    height: 45px;
    margin-top: 36px;
  }

  .mode1buyroundContainer {
    height: 45px;
    font-size: 36px;
  }

  .mode1buyavailableSection {
    width: 100%;
    height: 22.5px;
  }

  .mode1available1 {
    font-size: 13.5px;
    padding-right: 14.25px;
    padding-bottom: 2.25px;
  }

  .mode1available2 {
    font-size: 18px;
  }

  .mode1userselectSection {
    width: 100%;
    height: 36px;
    margin-top: 15.75px;
  }

  .mode1availInput {
    width: 500px;
    font-size: 13.5px;
    padding-left: 12px;
  }

  .mode1usermaxSection {
    padding-top: 7.5px;
    width: 40px;
    font-size: 13.5px;
  }

  .mode1useramountpaddingsection {
    width: 100%;
    height: 75px;
  }
  .mode1priceamountsection {
    font-size: 13.5px;
  }

  .mode1klaytnamountsection {
    font-size: 36px;
  }

  .mode1klaytnamountsection img {
    margin-right: 13.5px;
  }

  .mode1buysection {
    width: 540px;
    height: 72px;
  }

  .mode1buybutton {
    height: 36px;
    font-size: 18px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #dadce0;
  }

  .mode1buybutton:hover {
    box-shadow: 1.5px 1.5px 1.5px 1.5px #dadce0;
  }
}
